[2016-12-23 06:45] ghost opened #1 "ToXaml doesn't work for me"
Following the same code as given in the sample
[code]
I get an exception on `System.Windows.Markup.XamlReader.Load(reader) as FlowDocument;`
Here's the exception's message.
Provide value on 'Systems.Windows.StaticResourceExtension' threw an exception. Line number '1' and line position '178'.
EDIT:
Here's what the innerexception's message says "Cannot find resource named 'TargetType=Markdig.Wpf.Sty

[2017-01-03 08:23] Kryptos-FR commented on #1
You need to provide styles for headings,etc. as specified by the resource keys defined in [`Markdig.Wpf.Styles`](https://github.com/Kryptos-FR/markdig-wpf/blob/master/src/Markdig.Wpf.Shared/Styles.cs). An example of such styles is given in the [generic.xaml](https://github.com/Kryptos-FR/markdig-wpf/blob/master/src/Markdig.Wpf.Shared/Themes/generic.xaml) resources file.

[2017-01-03 21:08] ghost commented on #1
Thanks for replying! So should adding that project to my solution then referencing it be enough for it to locate the resources file? EDIT: Sorry, I'm not too good with wpf when it comes to styling/themes. I always just go with defaults when I can. This is the last leg of a messenger app I'm building though, so naturally I've got to have markdown support :P.

[2017-01-04 06:46] Kryptos-FR commented on #1
You can reference the `Markdig.Wpf.Shared` project or just copy the files. Since `Markdig.Wpf.Shared` (as its name implies) is a "shared" project it is actually the same: files will just get included in your project.

You may want to modify the styles (in generic.xaml) though, I just set some arbitrary values to prove the concept. But I did not try to match a specific style.

[2017-01-04 22:39] ghost commented on #1
Ah so then I guess my specific problem is that I'm using xamarin studio and it doesn't really like wpf not to mention wpf ResourceDictionaries. Is there anyway to parse the resourcedictionary from a file at runtime?

[2017-01-05 16:24] Kryptos-FR commented on #1
Well to be fair I have no experience with non-WPF XAML. I thought that resource dictionaries and styles would be supported though as it is not really WPF-dependent.

Also Xamarin.Forms (did not get if you were using it or not) doesn't seem to support [FlowDocument](https://msdn.microsoft.com/en-us/library/system.windows.documents.flowdocument.aspx) which is required for rich-text content in this s

[2017-01-05 16:28] ghost commented on #1
Nah, I'm using wpf. Just everything in code-behind. And yes, it is as horrific as it sounds. But idk, it still can't find the resource.I tried not only referencing the shared project, but also directly putting it in my main project. Maybe I'll just create an ms account for use with vs2015. Thanks again!

[2017-01-05 16:34] Kryptos-FR commented on #1
:scream:

Supposedly the whole resource file can be made in code-behind only. I never did it and it is probably very verbose but doable. Good luck! :sweat_smile:

[2017-01-06 21:10] ghost commented on #1
Ha, thanks. I'm going to need wishes of good luck I think. And yes, 100% code-behind-ified wpf is awful and I will probably never do it again :wink:. And it didn't occur to me to try to make the resource file in code-behind too. I'll look into it, thanks!

[2017-01-06 21:11] #1 closed, assigned to nobody

[2017-03-10 22:24] mgnslndh opened #2 "Nuget Package"
Hi,

I like what you are building. Are you planning on releasing it on Nuget?

[2017-03-11 05:16] Kryptos-FR commented on #2
Hello.

I did not have much time recently to work on this project. A Nuget package is planned once the library reaches a stable state.

[2017-06-29 02:10] Kryptos-FR commented on #2
cc @grokys Sorry to bother you but you seem to have some knowledge regarding creating and maintaining NuGet packages.

Ideally I would like `Markdig.Wpf` to support .Net Standard (as low as possible, considering `Markdig` itself supports .Net Standard 1.1). Should I make this change before attempting to publish on NuGet?
I also noticed in one of your branches you were removed C# 7 features. Is the

[2017-06-29 09:28] Kryptos-FR commented on #2
Forget it. I forgot that we merged the two projects (Xaml and Wpf) so of course .Net Standard is out of the picture.
Guess I can just publish as-is on NuGet then.

[2017-06-29 17:07] grokys commented on #2
Ah - too late :)

If you could let me know when you publish the NuGet packages that would be great! I can hopefully remove the submodule.

[2017-07-05 01:36] Kryptos-FR opened #7 "Rework extensions setup and dependency"
When an extension to the pipeline is not selected, the corresponding renderers should not be included. Additional styles should also live separately from the common styles.

So for example `TaskList` is an extension (see PR #3 ). It declares a new style key `TaskListStyleKey ` that it uses for `CheckBox`. And it also has its own renderer `TaskListRenderer`.

When setting up the pipeline and the `W

[2017-07-05 16:10] Kryptos-FR commented on #2
@mgnslndh @grokys NuGet package available: https://www.nuget.org/packages/Markdig.Wpf
Tell me if it works fine for you (first time I ever publish a package so I might have made a mistake).

[2017-07-05 16:10] #2 closed, assigned to Kryptos-FR

[2017-07-31 15:20] grokys commented on #2
@Kryptos-FR sorry I meant to comment on this earlier but then got distracted. Yep, the NuGet package works great, thanks for your work!

[2017-08-31 21:20] Logikgate opened #8 "Target .Net 4.5.0 instead of .Net 4.5.2"
Hello,

Awesome repo it makes using Markdown in a WPF form a breeze.  Would you accept a pull request to have markdig.wpf target .net framework 4.5.0 instead of 4.5.2? The Markdig project itself targets 4.5.0 and targeting version 4.5.2 really limits the number of machines this can be used on without first ensuring the framework is installed.  Windows 10 was the first release that shipped with sup

[2017-09-01 02:02] Kryptos-FR commented on #8
4.5.0 and 4.5.1 have been deprecated since January 12, 2016. Microsoft doesn't provide any support for those versions anymore (not even security updates). Any up-to-date system already supports 4.5.2. That includes all version of Windows currently supported by Microsoft, i.e. Windows 7, 8.1 (and 10 since 4.6+ is installed on it).

Reference: https://support.microsoft.com/en-us/help/17455/lifecycle

[2017-09-01 02:02] #8 closed, assigned to nobody

[2017-10-10 14:38] amkuchta opened #10 "[Assistance Request] AutoLinks and Images Not Working"
### Issue
First off, let me start by saying that from what I can see in the sample app, this control is amazing - literally exactly what I need.

I am having some issues with getting my markdown to render correctly - I am using databindings to display the information, so I don't know if that is the culprit or not.  The markdown itself displays, and *some* of the extensions work (e.g. pipe tables),

[2017-10-17 05:04] Kryptos-FR commented on #10
Hi.

Thanks for your interests of Markdig.Wpf. Now, regarding your issues:

- Markdig.Wpf doesn't support all extensions provided by Markdig. The only one supported can be seen in [MarkdownExtensions.cs](https://github.com/Kryptos-FR/markdig.wpf/blob/master/src/Markdig.Wpf/MarkdownExtensions.cs)
- To have the link clickable, you need to assign an action to the hyperlink. Otherwise, the page doesn'

[2017-10-17 12:53] amkuchta commented on #10
@Kryptos-FR thanks for the speedy response!  Updating the Command Binding for the control did the trick, so I am happy.  If I get some time, I'll look into doing a PR to assist with `sup`/`sub`.  I take it your intent is to be able to support as many extensions as possible?  Also, I've noticed that `<h6>` renders as standard text - is this by design, since it is so far down the list of headings?

[2017-10-18 05:45] Kryptos-FR commented on #10
In the default [theme](https://github.com/Kryptos-FR/markdig.wpf/blob/master/src/Markdig.Wpf/Themes/generic.xaml#L21), I did not define anything for `h5` and `h6` but they are supported. You can supply your own styling rules by overriding the related styles, for example:

[code]
As a general rule, I recommend to not use the default theme and provide your own. The supported styles are listed in the

[2017-10-18 12:06] amkuchta commented on #10
@Kryptos-FR I found all of them yesterday afternoon and ended up overriding them all (h1-h6, code blocks, etc.).  This truly is an amazing control, thank you again for creating it and sharing it out with the world.

As a side thought, have you considered "partnering" with another control library to get the word out about the `MarkdownViewer`?  I use [MahApps.Metro](https://github.com/MahApps/MahAp

[2017-10-18 12:24] Kryptos-FR commented on #10
I'm quite busy at the moment but in two weeks I'll have more time. I'll consider your suggestion at that time.
Thanks for letting me know about those projects. I'll dig into them later.

[2017-10-18 12:24] #10 closed, assigned to Kryptos-FR

[2018-01-24 15:31] amkuchta commented on #10
@Kryptos-FR was the relative image location issue ever sorted out?  I looked through #9, and have set my images as "Content" and "Copy Always", but they are still not rendering in-app.  Thoughts?

Also, GitHub flavored markdown uses `<sup>` and `<sub>` for super and subscript, respectively.  Is there a way to add that to the emphasis support for the `InlineRender`?

[2018-01-24 16:12] Kryptos-FR commented on #10
@amkuchta Which version of the package are you using? The issues with images have been fixed already. For example the sample app `Markdig.Wpf.SampleApp` already benefits from it. Check the location where the images get copied and verify that the relative path to the executable is correct.

The support for superscript and subscript has been added thanks to a contribution by @thoemmi (see #11 ). You

[2018-02-11 18:16] lellid opened #12 "Incorrect space between EmphasisInlineElements"
In markdown like `a**b**c` or `H~2~O`, there is a space inserted between the emphasized element and the next element. This is caused by the function WpfRenderer.EndsWithSpace, which returns (IMHO correctly) that there is no space at the end of the emphasized element, and then the function AddInline inserts a space.

What is the best way to avoid the incorrect insertion of the space?

[2018-02-12 13:38] Kryptos-FR commented on #12
@grokys Do you remember what was the purpose of adding this space? I haven't touched the code for a while so I'm having trouble to see which cases that handles.

[2018-02-21 14:25] grokys commented on #12
Hmm I can't quite remember tbh. I do seem to remember that some formatting was broken if there was no space inserted. Could be that the heuristic just needs to be changed? I will try to remember the exact case...

[2018-02-23 20:44] lellid commented on #12
I experimented with commenting out the insertion of the space. The only negative effect I found so far is the following markdown:

[code]
with is rendered without spaces between the words when I commented out the insertion of the spaces.

[2018-05-25 10:34] Kryptos-FR commented on #12
Fixed by #13.

[2018-05-25 10:34] #12 closed, assigned to Kryptos-FR

[2018-06-07 14:07] seb-giroux opened #14 "Question: Is there a way to force a line break?"
I have a bullet list followed by text, and whatever the nb. of enter I have in my .md file, it is not taken into account.

[2018-06-07 20:50] jackgriffiths commented on #14
You can use backslashes to add extra line breaks:

[code]

[2018-06-07 23:44] Kryptos-FR commented on #14
Hi @dheif.

Thanks for using the library.

Your issue has to do with commonmark specification itself: https://spec.commonmark.org/0.28/#hard-line-breaks.

Markdig.Wpf bases its rendering from the syntax parsed under the hood by the Markdig library.
Markdig also offers an extension to treat all **soft lines as hard lines** that you could consider enabling.

I'll close the issue for the time being b

[2018-06-07 23:44] #14 closed, assigned to nobody

[2018-06-12 22:56] neolithos opened #16 "Design question: Why did you split the rendering in two seperated code trees?"
**Why I ask**
- I need both, Text and Wpf output in the same quality and I am lazy enough to do not take care of two code bases.
- I have experience with the XamlParser of the .net framework, so I did a quick and dirty test with your library to show the way:
https://github.com/neolithos/markdig.wpf/commit/d1d5630cf5389c6af25c25c9d025dd9caf0a3ce1

**What are the changes**
The XamlRenderer emits xam

[2018-06-14 17:57] neolithos commented on #16
The wpf object emitter got a rewrite:
https://github.com/neolithos/markdig.wpf/commit/576e121bcdbb1994df48064a1ab3477fd3dfbf3d

[2018-06-20 08:21] neolithos commented on #16
When can I expect a answer? Or do need anymore information?

[2018-06-21 01:08] Kryptos-FR commented on #16
Hi @neolithos

I just moved out recently and I don't have Internet in my new place yet. I'm also very busy at work so I can't spent time on that for the moment.

Once I get settled I will investigate your question in depth and give you a complete answer.

Thanks.

[2018-06-21 08:35] neolithos commented on #16
Thanks, I startet this early enough to give that question time.

I have also a nice idea to support templating of the documents, but with this I will wait until you felt a decision.

Good look with your new home.

[2018-10-15 09:52] neolithos commented on #16
Merged your changes to neolithos@f464e11ef2d8fa973ddbe121ea65b8e98351f412

And I had to edit these original pull requests:
#17: Is removed, because in my implementation all methods to write a extension are public.
#15: A q&d replacment is in the commit (neolithos@5f7a4f16d9af49d948937a0bf28b696b91418b66), needs tests and some performance tweaks

[2018-11-06 13:49] seb-giroux opened #19 "Use of markdig.signed?"
Hi,

Do you intend on releasing a version that uses markdig.signed instead of markdig?

[2018-12-16 11:17] FoggyFinder opened #20 "The type initializer for 'Markdig.Wpf.MarkdownViewer' threw an exception"
The code below doesn't compile with new version of markdig (0.15.5)

[code]

where `TestWindow.xaml` is:

[code]

It works fine with 0.15.4 although.

[2018-12-16 12:41] Kryptos-FR commented on #20
If the problem is with markdig, you should open an issue to [markdig](https://github.com/lunet-io/markdig) repository, not here. I am not making that library and have no control over its development.

The latest version of markdig.wpf is built against markdig 0.15.4. So I recommend using that.

That said, I try with 0.15.5 and did not encounter any issue.

[2018-12-16 12:41] #20 closed, assigned to nobody

[2018-12-16 13:42] FoggyFinder commented on #20
I surely can open issue there too but I think it is something with your library cause exception comes from
`Markdig.Wpf.MarkdownViewer`.

Yep, I pinned version to 0.15.4 for now in my dependency file to avoid exception.

[2018-12-17 03:54] Kryptos-FR commented on #20
I had a second thought and your issue might be related to **binding redirects**, since you are attempting to use a version of `markdig` that `markdig.wpf` is not built against.

Have a look at the doc: https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions

On a side-note: when you report an issue you need to provide a [minimum, complete and verifiable example]

[2018-12-17 08:11] FoggyFinder commented on #20
Thank you. I don't think so although.

I did. It was MCVE there. Only 29 lines of code. Well, yep I can minimize it to something like:

[code]

I attach project: [MarkdigMCVE.zip](https://github.com/Kryptos-FR/markdig.wpf/files/2684979/MarkdigMCVE.zip)

It is compile time exception. I provided additional information if I would know it. There is also error from XAML designer:

I don't expect, hones

[2018-12-17 10:09] Kryptos-FR commented on #20
@FoggyFinder I just read the discussion on the markdig issue.

Honestly I made a wrong assumption that binary compatibility would not break between minor versions of markdig. I will not make such assumption anymore ;)

I'm still surprised that you got the error at compile time. I would have expect it to break only at runtime. Maybe the fsharp compiler works differently.

Anyway, thanks for pointin

[2018-12-17 21:30] FoggyFinder commented on #20
It is a [type provider](https://docs.microsoft.com/en-us/dotnet/fsharp/tutorials/type-providers/). Very convenience sometimes. I used [FsXaml](https://fsprojects.github.io/FsXaml/) here because I used it in all my WPF projects.

Yep, F# is awesome

[2018-12-18 03:25] Kryptos-FR commented on #20
I was able to reproduce at runtime with a csharp application. The cuplrit was the `UseAutoLinks()` extension method in markdig that now has a second optional parameter. From now on and until markdig goes beyond version `0.*` I will package markdig.wpf to match the exact version it is built against.

[2019-01-16 20:55] khdc commented on #19
I definitely need a signed version for my application too.

[2019-01-19 10:08] neolithos commented on #16
Any progress on this?

[2019-01-19 12:42] Kryptos-FR commented on #16
I had some thoughts about it and I don't think it makes sense to do XAML only and to get rid of the WPF renderer. In  most cases, users of the library do want to integrate it directly in to their application.

When you think of it, keeping a Xaml renderer doesn't make sense because in the final application you would be basically doing:
[code]
Whereas:
[code]

There is one more parsing happening in

[2019-01-19 12:42] #16 closed, assigned to Kryptos-FR

[2019-01-19 12:52] neolithos commented on #16
That is not how my solution work. I got both with only one rendering implementation.

Generate Xaml:
[code]
Generate wpf-objects:
[code]
To make it clear `write xml`and `generate objects` are implemented by the .net framework and are not part of the solution anymore (That is by the way the big pro).
`parsing` is done by markdig.
And only `rendering` is implemented by markdig.wpf. And has as task t

[2019-02-14 19:08] Tokter opened #22 "Could you update to Markdig 0.15.7?"
Thanks!

[2019-02-14 22:12] Kryptos-FR commented on #22
So that's it? No explanation to why I should do that?

Are you going to pay me? What if I say no? :wink:

[2019-02-24 15:11] dornstein opened #23 "Update to allow rendering into an exciting FlowDocument with content and styling"
Hi there -- I'm looking for a component that I can use to render (commonmark) markdown into a flow document.  markdig.wpf looks awesome -- except the flow document I'll be rendering into already has content and styles and such.  I want to append the rendered markdown into the document without any assumptions about what might already be in the flow document or how it might be styled.  A quick skim

[2019-02-24 22:45] Kryptos-FR commented on #23
The styling works by having a couple of StyleKey that you can override easily. There is a default theme but you can replace it with your own.

[2019-02-25 23:04] Tokter commented on #22
Sorry, didn't mean to offend you:

_So that's it? No explanation to why I should do that?_
You set the nuget dependency to Markdig (= 0.15.5). That means I can't update Markdig itself to the latest version.

_Are you going to pay me? What if I say no? 😉_
I could create a pull request for it if you want, or fork your nice work.

[2019-03-08 02:57] Kryptos-FR commented on #22
@Tokter I was being a bit sarcastic (and a bit tired from work), sorry 😄

The reason the version is set to exactly match Markdig is because of issue #20.
I have updated the version to markdig 0.16.0 and a package is being published (make take a few hours before being visible).

[2019-03-08 02:57] #22 closed, assigned to nobody

[2019-03-20 11:23] Tum4ik opened #24 "Heading color does not change."
![image](https://user-images.githubusercontent.com/21317790/54643248-1e4b0800-4a9f-11e9-900e-eae1cb8b7777.png)

[code]

[code]

**License.md**
[code]

[2019-03-20 15:15] Kryptos-FR commented on #24
Headings use styles. So you need to update/override those.

See https://github.com/Kryptos-FR/markdig.wpf/blob/develop/src/Markdig.Wpf/Themes/generic.xaml

[2019-03-22 20:46] Tum4ik commented on #24
Yep, that's it. Thanks!

[2019-03-22 20:46] #24 closed, assigned to nobody

[2019-04-11 21:05] mengluwang121 opened #25 "Nuget package doesn't apply to .Net 4.5 project"
Hi,

Thanks for providing this awesome code to make Markdown in WPF much easier!
I am from VisualStudio setup team and we are considering using this package in a .Net 4.5 project for Markdown support. I do saw the change to retargeting the project to .net 4.0, but it seems the nuget package on market still only targeting .Net 452. I am wondering could you please take a look?
Really appreciate your

[2019-04-12 02:24] Kryptos-FR commented on #25
Hi @mengluwang121.

Thanks for your interest in my humble project. I indeed made the change but did not package a new version that supports net40. I'll make a new package to that end.

Any reason why you need it to target net45 but not net452?

[2019-04-12 02:37] Kryptos-FR commented on #25
v0.2.8 released. Please wait a few minutes (hours?) before the package is indexed by nuget.

[2019-04-12 02:38] #25 closed, assigned to nobody

[2019-04-12 02:44] mengluwang121 commented on #25
Thank you so much for the quick response!!! : P

Targeting 4.5 was an architecture decision we made to support older os like win8 etc.

[2019-04-22 22:26] mengluwang121 commented on #19
Hi,

This is still Menglu from VisualStudio setup team... We are considering using this package in a .Net 4.5 project for Markdown support. But we definitely need to use the signed version which has a strong name. We would really appreciate it if we can get help from you to update a signed version of nuget package! Thank you so very much!

Best,
Menglu

[2019-04-22 22:43] Kryptos-FR commented on #19
I still don't see the point of signed assemblies in 2019. It supposedly solves an issue that doesn't exist anymore.

I can find as many pros and cons as I want in serious websites/blogs.

That said, since it seems to be a required feature for some of you, I'll have a look at it in the following week. I'm quite busy right now but I'll be on leave next week.

[2019-04-22 23:23] mengluwang121 commented on #19
Hi,

Thank you so much for the quick response Kryptos. We really appreciate your understand and help!
Please let us know if there is any further question, information or help that needed. :)

To provide more background about the reason why we still need it:
1. Microsoft policy requires we use strong name for every repo. Unfortunately a Strong-Named Assembly requires every assmeblies it relies on t

[2019-05-01 16:42] Kryptos-FR commented on #19
Package published: https://www.nuget.org/packages/Markdig.Wpf.Signed/

Tell me if this works out for you.

[2019-05-01 16:42] #19 closed, assigned to Kryptos-FR

[2019-05-01 22:23] mengluwang121 commented on #19
Thank you so much!!! It works great~! May you have a wonderful day!

[2019-05-29 15:47] Otiel commented on #24
Should this style really override the `Foreground` color?

[code]

Why not use the default `Foreground` value?

---

Can you advise on how to override this style? I've got the following error when trying:

[code]

[2019-05-29 16:35] Tum4ik commented on #24
@Otiel , I've created a separate resource dictionary file and define the style there like:
[code]

[2019-05-29 16:42] Otiel commented on #24
Thanks, exactly what I needed!

[2019-07-02 07:52] Kryptos-FR commented on #23
@dornstein does it answer your question?

[2019-07-16 07:51] hillin opened #26 "Port to .net core 3.0"
WPF is coming to .net core now. Is there any plan to port markdig.wpf to .net core 3.0?

[2019-07-16 10:37] Kryptos-FR commented on #26
Good question.

I will wait for the official release before doing any work on that. I don't expect a lot of issues (if any) as there are very few dependencies and the use of `FlowDocument` and related types, is pretty standard.

[2019-07-17 03:52] Kryptos-FR opened #27 "Emoji support"
`Markdig` supports (Unicode) Emojis through an extension (see https://github.com/lunet-io/markdig/tree/master/src/Markdig/Extensions/Emoji)

- [ ] Ensure we can also do it properly in WPF.
- [ ] (Bonus) Add a unit test with an image reference.

[2019-07-17 03:54] Kryptos-FR opened #28 "Update to markdig 0.17.1"
`Markdig` was updated to version 0.17.1 on 2019-07-04.

- [x] Go through the changelog and see what can/should be enhanced on WPF side.
- [x] Package normal and signed versions

See also #27.

[2019-07-21 02:57] #23 closed, assigned to nobody

[2019-08-14 14:30] chenxuuu opened #30 "How to change default fontfamily?"
default font is not right, how to change it?

[2019-08-14 15:29] Kryptos-FR commented on #30
You can override any style you want.

See https://github.com/Kryptos-FR/markdig.wpf/blob/develop/src/Markdig.Wpf/Themes/generic.xaml

----
Closed as duplicate of #23 and #24.

[2019-08-14 15:29] #30 closed, assigned to nobody

[2019-08-15 00:38] chenxuuu commented on #30
I see
thanks!

[2019-08-18 13:59] chaojian-zhang opened #31 "Theme Customization"
Hi, thanks for your library, it's really handy!

Is there a way to **customize the theme**? I am not sure how I can replace default `generic.xaml` with a new set of style definitions. Thanks.

I mean, except creating a file under "**Themes/generic.xaml**" and in application resource add **merge resource dictionary** as mentioned [here](https://social.msdn.microsoft.com/Forums/en-US/b56640c8-ba9e-4

[2019-08-18 14:16] chaojian-zhang commented on #31
To answer "how to change **bold text** to foreground **white**" - in an overwrite `Themes/generic.xaml` use the following:

[code]

I.e. `markdig:Styles.DocumentStyleKey` contains definition for normal (and bold and italic) text styles.

[2019-08-18 23:46] Kryptos-FR commented on #31
Even though it is a similar question to #23, #24 and #30, I'm keeping this question opened. We do need a sample and/or a wiki page to explain in more details how to customize the styles. Seeing people asking the same repeatedly seems to stress that need.

[2019-08-24 08:52] FCUnlimited opened #32 "Make classes customizable"
Hi,

thanks for providing the code. I love his clear and easy structure!

I made some changes on a local branch, which make it possible to customize the WPF Renderer.
So I declared some functions as protected and added also some optional parameter.

I also made the WPF Image clickable. So if you click an image the associated command will be executed. In my case to zoom into it.

I would like to sh

[2019-08-24 09:48] Kryptos-FR commented on #32
Looks interesting. Feel free to open a draft pull-request so we can discuss the code.

[2019-08-24 10:48] FCUnlimited commented on #32
Done. My first one :)

[2019-08-24 10:48] #32 closed, assigned to nobody

[2019-09-07 00:18] chaojian-zhang opened #34 "[Bug] (MarkdownViewer Control) Markdown content cannot have 0 as starting index for numbered lists"
The `Markdown` property of MarkdownViewer control seem not able to have 0 in a numbered list. An **ArgumentException** will be thrown saying `0 is not a valid StartIndex`.

I am not sure whether this is related to `MarkdownPipelineBuilder` or I need to enable some `UseSupportedExtensions()`?

![Exception](https://user-images.githubusercontent.com/7077098/64467047-221d2600-d0e3-11e9-9e3b-a4710d6069

[2019-09-07 07:21] Kryptos-FR commented on #34
As far as the commonmark specification goes, ordered list must start with *1*.

Source: https://spec.commonmark.org/0.29/#ordered-list-marker

[2019-09-07 14:59] chaojian-zhang commented on #34
I checked the [spec](https://spec.commonmark.org/0.29/#ordered-list-marker) and think the line **"An ordered list marker is a sequence of 1–9 arabic digits (0-9), followed by either a . character or a ) character.**" clearly allows it.

Also see this [discussion](https://github.com/markdown-it/markdown-it/issues/129).

Thanks.

[2019-09-08 02:32] Kryptos-FR commented on #34
I guess you misunderstand the spec. It clearly states that it must start with *1*. That's what **sequence 1-9** means. And later in the paragraph it is even more explicit: **the start number must be 1**.

In any case, *markdig.wpf* relies on what the *markdig* library parses. So if you think it is a bug, you should open an issue there.

But as can be seen in the [babelmark benchmark](https://babel

[2019-09-08 02:34] #34 closed, assigned to nobody

[2019-09-29 03:13] Kryptos-FR commented on #26
.NET core is added as a target thanks to #35

[2019-09-29 03:13] #26 closed, assigned to nobody

[2019-09-29 03:15] Kryptos-FR commented on #28
Update to markdig 0.17.1 is done. I did not notice anything that would require other changes in the WPF version. When the next major version of Markdig is releases (e.g. 0.18) I will go through more analysis.

[2019-09-29 03:15] #28 closed, assigned to nobody

[2019-10-17 12:18] ytterstrom commented on #31
Don´t you change the style for everything then, not just bold text? How can you differentiate between bold, italic and normal. I cannot see in generic.xaml differnt styles depending on bold or not

[2019-10-17 14:23] Kryptos-FR commented on #31
@ytterstrom there aren't different style for normal, **bold** or *italic*. The way it currently works is by setting using a dedicated `Span` implementation (either `Bold` or `Italic`). In the absence of anything, a normal `Span` is used. See [EmphasisInlineRenderer.cs](https://github.com/Kryptos-FR/markdig.wpf/blob/develop/src/Markdig.Wpf/Renderers/Wpf/Inlines/EmphasisInlineRenderer.cs).

I never

[2019-10-18 14:38] ytterstrom commented on #31
The problem that I am facing is that I have two different fonts depending on if it is normal or bold style, and in that case this is not working.

[2019-10-18 17:23] Kryptos-FR commented on #31
Well in that case it is quite easy to do with usual WPF styles. For example:

[code]

[2019-10-28 09:58] ytterstrom commented on #31
Yes, that solved the problem. Thanks man!

[2020-01-20 10:05] zegoff opened #36 "Link on image causes issues when linking to other site than the image itself"
Hi!

The feature with clickable/linking images causes issues when you want to link to another site than the image itself.

Example:
`![Alt text for image](https://img.youtube.com/vi/C0DPdy98e4c/0.jpg)]`
This will link to the videos thumbnail.
![Alt text for image](https://img.youtube.com/vi/C0DPdy98e4c/0.jpg)

If you implement the command binding like this:
`private void HyperlinkCommandBinding_On

[2020-04-13 11:05] alexrp opened #37 "Focus issues"
Hello,

I'm using a `MarkdownViewer` in a WPF app I'm working on. I've run into some issues with focus:

1. `MarkdownViewer.Focusable` is enabled by default which is probably going to be surprising to most users since it's a read-only control (I just disabled it myself).
2. If `NewsViewer.Markdown` is empty, tabbing in the app still ends up giving focus to some hidden element within the viewer (no

[2020-04-13 11:38] alexrp opened #38 "Feature request: Ability to customize scroll bar visibility"
With a `RichTextBox`, you can change `HorizontalScrollBarVisibility`/`VerticalScrollBarVisibility` to customize the scroll bar's visibility. It doesn't appear that there's an equivalent on `MarkdownViewer`.

[2020-04-13 14:15] Kryptos-FR commented on #38
The default theme for `MardownViewer` has a control template with `FlowDocumentScrollViewer` setting the vertical scrollbar visibility to `Auto`. You can override it by providing your own template.

Taking by example the `MainWindow.xaml` from the sample project (some lines omitted for clarity):

[code]

[2020-04-13 14:31] Kryptos-FR commented on #37
Same as in #38, you can override some of the styles of the default theme. Note that if you do bind the `Commands.Hyperlink` or the `Commands.Image` those clickable links are by definition focusable (so that the click can work), so you can't have both the are non-focusable and have the links working (as far as I understand WPF).

Note that to completely disable the focus, the `FlowDocumentScrollVie

[2020-04-13 14:53] alexrp commented on #37
I'm not super familiar with WPF myself, so I could well be wrong, but I don't *think* a control has to be focusable to be clickable. I have some buttons in this project that I've set `Focusable=false` on but they're still clickable and still function when I press enter (and `IsDefault=true`). I don't know if the same applies to hyperlinks though.

[2020-04-14 07:03] alexrp commented on #38
That worked, thanks!

[2020-04-14 07:03] #38 closed, assigned to nobody

[2020-07-17 09:15] dgbeer20 opened #39 "WPFRenderer customization to enable (some css) styling in MarkdownViewer"
Hi,

How can I start with a custom WPF rendering of simple inline HTML code like <span style="color:blue">blue</span> within a markdown document? The aim is to have some simple styling (color, background, ...) that can be seen in the MarkdownViewer.

Thanks,
Daniel

[2020-07-18 09:50] Kryptos-FR commented on #39
I don't plan to support such feature. The goal of this project is not to transform HTML into WPF, there are other alternatives. HTML is not part of common-mark and this project only support common-mark.

You can define styling for all parts of the rich text that is the translation of the markdown document.

See #23, #24, #30 or #31

[2020-07-18 09:50] #39 closed, assigned to nobody

[2020-08-08 00:54] mengluwang121 opened #40 "Style difference with nested list and normal list"
Hi,

Thanks for providing this awesome code to make Markdown in WPF much easier!
I am from VisualStudio setup team and we using this package for Markdown support. We are having some rendering issues about nested list that hope can get your help. As you can see from the below image, the space/new line rendering of nested list is different from normal list, looks like the extra "\r\n" we added are i

[2020-08-08 06:35] Kryptos-FR commented on #40
I believe this is because we don't have a vertical margin by default on paragraphs and GitHub must be applying CSS styles afterwards.

Looking at the expected output using [Babelmark](https://babelmark.github.io/?text=1.+Save+your+work+before+continuing.+We+need+to+close+the+following+process%3A+%0A+++*+Microsoft+Visual+Studio+master+(devenv)%0A%0A+++Select+Continue+to+save+its+current+state%2C+cl

[2020-08-11 00:12] mengluwang121 commented on #40
Thanks for the answer :)! I'll work around it by applying paragraph style for now and come back when this enhancement is added to the package! Really appreciate your help!

Best,
Menglu

[2020-08-16 03:16] Kryptos-FR opened #41 "Discussion: should we keep support for net40 and net45?"
Recently, [Markdig](https://github.com/lunet-io/markdig) which this project relies on, has dropped for `net35`and `net40` (see https://github.com/lunet-io/markdig/pull/416).

It means that we can't upgrade the version we use anymore. So I am opening a discussion to decide what we should do from now on.

cc @mengluwang121 you were the one to request support for `net45` (and not `net452`) in #25. Is

[2020-08-17 05:52] Kryptos-FR commented on #41
Update: @xoofx has agreed to keep support for `net452` for now (to be retired at a later date). See https://github.com/lunet-io/markdig/pull/466.

According to VS2017 or VS2019 requirements page, `net452` is expected to be on the machine prior to installation and not `net45`. @mengluwang121 is it fine if I also drop support for versions lower than `net452`?

[2020-08-17 20:27] mengluwang121 commented on #41
Hi,
Thanks for reaching out. Our project is still targeting .net4.5 (we are the installer so the requirement is slightly different than the IDE) I'll talk  to my team and get back to you to see what our plan it. Thanks you so very much!

[2020-08-21 23:17] mengluwang121 commented on #40
You were right, with the paragraph work around we are seeing some extra spacing for the normal bullet items, cannot see which is better so I'll wait for the improvement. Could you please inform me if the improvement is completed? Thank you so much!

[2020-08-25 16:27] amkuchta opened #42 "Update to Markdig 0.21.1"
Currently,  I am unable to update to the latest version of Markdig (0.21.1), as it is deemed to be incompatible with the latest release of Markdig.Wpf (0.3.1)

[2020-08-25 23:36] Kryptos-FR commented on #42
I have to use an exact version each release because of #20 (related to https://github.com/lunet-io/markdig/issues/274).

And now, on top of that, Markdig have decided do drop support for .NET Framework 4.0 which was requested by another user (#25) and is currently being discussed in #41.

[2020-09-12 13:22] Kryptos-FR commented on #41
Given that `net40` has been out of support for more than 4 years (see [Support Ending for the .NET Framework 4, 4.5 and 4.5.1](https://devblogs.microsoft.com/dotnet/support-ending-for-the-net-framework-4-4-5-and-4-5-1/), there is little sense keeping it. Therefore the final decision is to drop it for Markdig.wpf.

However, `net452` is supported until January 2023 (as part of Windows 8.1 lifecycle)

[2020-09-12 13:22] #41 closed, assigned to nobody

[2020-09-12 13:26] Kryptos-FR commented on #42
Despite #20, I will relax the dependency rule. It might break sometimes, but at least it won't prevent to upgrade to a later version when it still works.

_edit:_ rule relaxed in version **0.4.0**. I was able to upgrade up to **Markdig 0.20.0**, however **0.21.0** breaks with some `MissingMethodException` so it will need some updates before you can use it. I plan to do so in the next version.

[2020-10-14 22:15] mengluwang121 commented on #41
Hi,

Sorry for late response. After discussion, our repo cannot target to .net4.5.2 yet... I am wondering could we added back the support for .net4.5? Since we want to take advantage of the newly added paragraph feature we want to update our version of your package. Thank you so very much!!!

Best,
Menglu

[2020-10-14 23:09] mengluwang121 commented on #40
Hi Nicolas, I am wondering is the paragraph feature available now? Also, as I replied on the other thread. Our repo cannot target to .net4.5.2 yet... (since it is shipped along with win7) I am wondering could we added back the support for .net4.5? Thank you so very much!!!

Best,
Menglu

[2020-10-15 03:50] Kryptos-FR commented on #41
@mengluwang121 I'm sorry but I can't add back that support. It is an obsolete version that is not supported and won't receive any security updates. There is no reason to keep it around.

In a previous issue, you said you were working on a Visual Studio Setup project. Can you tell me more about it? As far as I can see, from the [system requirements page of the Visual Studio](https://docs.microsoft.

[2020-10-15 20:04] mengluwang121 commented on #41
We are on Visual Studio Installer team (new installer will be released soon). The reason we need to keep our framework on 4.5 is win 7 machines come with 4.5, even if it is out of support now, as an Installer we have to support it. "System requirements page of the Visual Studio, .NET 4.5.2 is already a requirement" is a public announcement but in underlying code, our project still have to support

[2020-10-16 20:13] mengluwang121 commented on #40
Also, I noticed Markdig.wpf actually add a paragraph tag within listitem, so override the paragraph style breaks the list item style, is this something we can improve? Thank you so much Nicolas!
<List MarkerStyle="Disc">
<ListItem>
<Paragraph>
<Run Text="MSBuild" />
</Paragraph>
</ListItem>
<ListItem>
<Paragraph>
<Run Text="Engine (Running) - Microsoft Visual Studio Int Preview (devenv)" />
</Para

[2020-10-16 20:43] mengluwang121 commented on #40
Also, I noticed for the sub listview item, normal html will not add paragraph tag within the listViewItem, while here we are adding the paragraph tag. So as I added the paragraph style, the list view style was broken. It seems html have different handling for the first level list and sub level list (first level list adding paragraph wrap while sub list doesn't)

[2020-10-18 10:55] Kryptos-FR commented on #41
`Markdig` doesn't support `net45` anymore, so there really is nothing I can do on my side. You will have to use an earlier version.

I am still quite surprised to read that you have to support Win7 given that the OS is out of support, and even for people still using it, they should now have had `net452` runtime installed as an automated Windows Update 4 years ago, when both `net45`and `net451` wen

[2020-10-18 10:57] Kryptos-FR commented on #40
I have some ideas on how to deal with those cases, but I hardly had time to work on any project except work during the last couple of weeks.

[2020-10-22 17:27] mengluwang121 commented on #40
Totally understand! Due to the .net 45 version issue at the same time, we decide to work around in our end. (Basically dynamically change the first layer paragraph style) Thank you so much for all the help here~! Hope you have a great day!

[2020-11-18 19:11] tjdennis commented on #42
Hi. Is there any update coming to this project that fixes the MissingMethodException?  Markdig is now at 0.22.0 and I would love to be able to use your project for displaying markdown files instead of bouncing them through HTML.  I am seeing the error with Markdig 0.20.0 as well.

The missing method "Write" is there and hasn't changed. Maybe you're missing some new interface method or it's a diffe

[2021-01-12 11:44] Kryptos-FR commented on #42
Hi @tjdennis. What are you taking about?

[2021-01-12 12:45] Kryptos-FR commented on #42
@tjdennis I pushed version `0.5.0`. Can you tell me if it works for you?

[2021-01-13 11:00] Mertsch commented on #42
For me Markdig.Wpf 0.5.0 works great with Markdig 0.22 and 0.22.1

[2021-01-13 11:07] Mertsch opened #43 "Markdig.Wpf 0.5.0 requires Markdig.Signed on assembly level (package states Markdig)"
I think the `Markdig.Wpf.dll` not completely isolated from the "Signed" build.
Quickly scanning the file with a text editor reveals a `Markdig.Signed` string present in the unsigned `dll`.

As a workaround I am now using the `Markdig.Wpf.Signed`, which correctly works.

[2021-01-13 13:54] Kryptos-FR commented on #43
Hmm. I might have messed up something during the build. I'll try to fix it. Thanks for notifying.

Edit: I have contacted NuGet support to ask them to remove the package so I can upload it again. It is usually against their policy to re-upload an existing package. At least they don't let you do it by yourself.

Depending on what is decided, it will either be fixed or I will upload a new version an

[2021-01-13 14:14] Kryptos-FR commented on #42
@Mertsch thanks for confirming. I'll keep this issue open until #43 is resolved.

[2021-01-16 00:04] Kryptos-FR commented on #43
@Mertsch I have uploaded a new version `0.5.0.1`.

[2021-01-19 15:14] Mertsch commented on #43
Works 😊

[2021-01-19 15:14] #43 closed, assigned to Kryptos-FR

[2021-01-20 00:42] Kryptos-FR commented on #42
Closing as #43 is now resolved.

[2021-01-20 00:42] #42 closed, assigned to Kryptos-FR

[2021-05-21 15:35] mikechristiansenvae opened #49 "Intra-document links not created correctly"
Given this markdown:

[code]

`LinkInlineRenderer.Write` receives a `LinkInline` object, with a `Url` property of `"#cryptography-functions"`.

[Line 30](https://github.com/Kryptos-FR/markdig.wpf/blob/develop/src/Markdig.Wpf/Renderers/Wpf/Inlines/LinkInlineRenderer.cs#L30) calls `Uri.IsWellFormedUriString` and since that returns `false`, the URI that is written is `#`.

[2021-05-23 15:13] Kryptos-FR commented on #49
Indeed, internal anchors are not supported. Pull-request welcome.

It might be a bit tricky as it would need some post-processing to go through the whole object graph at the end of the "rendering" and also implement a custom command that would scroll into view for the corresponding anchor.

[2021-06-07 12:12] isaksavo commented on #49
It seems there are two parts to this:

1.  Using `Uri.IsWellFormedUriString` which returns false for things like `#my-anchor`. This can be solved by simply not calling this - just call `Uri.TryCreate(url, UriKind.AbsoluteOrRelative)` and it'll return true for `#my-anchor`, but false if you pass it `null` or something else that cannot be interpreted as a URI.
2. Make `MarkdownViewer` navigate to th

[2022-01-25 07:52] zewditu opened #51 "How to styel Markdown Code"
I have an issue theming for  code
  Markdig version : 0.5.0.1
VS version: 2022 preview 3.0;
![image](https://user-images.githubusercontent.com/36615490/150930139-94bdcd0c-9a61-4ca0-acec-f4778b17043c.png)

It seems that markdig  has  style for codes
![image](https://user-images.githubusercontent.com/36615490/150929715-1a338dd4-fb67-40a0-9b63-c30cda3fe13e.png).

However, what target framework contro

[2022-01-25 08:02] zewditu commented on #51
I got it

[2022-01-25 08:19] zewditu commented on #51
I reopened it, I need to know for code blocks
[code]

[2022-01-25 19:33] Kryptos-FR commented on #51
Starting to look like a duplicate of #23, #24 and #30.

Styles can be overridden with the keys mentioned in your screenshot. There you can define text font, color as well as background color and any other style properties already supported by `Paragraph`.

[2022-01-28 20:03] zewditu commented on #51
Hi @Kryptos-FR nice `Paragraph` works fine for me.
I have one more question how writing code blocks with specific language colorization like csharp?

![image](https://user-images.githubusercontent.com/36615490/151617753-c5a7567d-5be9-4692-b41a-1c4692bf4032.png)

[code]

[2022-01-29 11:10] Kryptos-FR commented on #51
@zewditu this is currently not supported.

It would require quite a lot of work to have different renderer strategies based on the language including parsing the text that goes inside a code block.

Currently this repository is in maintenance mode as I don't have time to work on new features. Contributions are welcomed.

[2022-06-23 18:29] #51 closed, assigned to nobody

[2022-11-01 14:27] EgilSandfeld opened #52 "Emoji style"
Is there a way to style just the emojis in a markdown, like making them yellow or [their original colors](https://github.com/xoofx/markdig/blob/master/src/Markdig/Extensions/Emoji/EmojiMapping.cs)?

This is how it looks in my app:
![Emoji style missing](https://i.imgur.com/wCWvBPT.png)

[2022-11-01 18:19] Kryptos-FR commented on #52
Unfortunately, this is outside the scope of this library.

The rendering is done by WPF and it has a long-standing issue about rendering emojis with colors as can be seen here: https://github.com/dotnet/wpf/issues/91

With that said, there is an attempt at fixing it in this other library: https://github.com/samhocevar/emoji.wpf. So this could be investigated.

[2022-11-01 18:54] Kryptos-FR commented on #52
A little experiment with `Emoji.Wpf` shows that it is working. What you need to do is:
1. Add `Emoji.Wpf` package as reference
2. Modify the style for `FlowDocument` in your app as follows:
[code]

[2022-11-02 10:10] EgilSandfeld commented on #52
Thank you so much, @Kryptos-FR 🚀💪
This was very easy to implement. Works wonders now

![](https://i.imgur.com/N4hFIhC.png)

[2022-11-02 10:10] #52 closed, assigned to nobody